appdirs==1.4.3
attrs==20.2.0
CacheControl==0.12.6
certifi==2019.11.28
cfgv==3.2.0
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
distlib==0.3.0
distro==1.4.0
filelock==3.0.12
html5lib==1.0.1
identify==1.5.6
idna==2.8
iniconfig==1.1.1
ipaddr==2.2.0
-e git+git@github.com:laurent-carrie/lcpymake.git@42702b98c240b090242c268045876cd4d96c9a85#egg=lcpymake
lockfile==0.12.2
msgpack==0.6.2
nodeenv==1.5.0
packaging==20.3
pep517==0.8.2
pluggy==0.13.1
pre-commit==2.7.1
progress==1.5
py==1.9.0
pyparsing==2.4.6
pytest==6.1.1
pytest-datadir==1.3.1
pytoml==0.1.21
PyYAML==5.3.1
requests==2.22.0
retrying==1.3.3
six==1.14.0
toml==0.10.1
urllib3==1.25.8
virtualenv==20.1.0
webencodings==0.5.1
